html,
body {
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 1rem;
  color: #303137;
  margin: 0;
}

.navbar,
.container {
  max-width: 1140x;
  /* width: 100%; */
  margin: 0 60px;
}

.navbar {
  display: flex;
  padding: 10px;
  /* margin: 0 60px; */
  justify-content: space-between;
}

.brand {
  font-size: 25px;
}

.sensei {
  color: red;
}

.brand,
.nav-link {
  text-transform: uppercase;
  color: #303137;
}

.topnav {
  display: flex;
  margin: 0;
  padding: 0;
}

.topnav li {
  list-style-type: none;
  padding-left: 20px;
}

.topnav .nav-link {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}
ul.topnav li.dropdownLink {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
}

.headshot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.headshot {
  border-radius: 50%;
}

.services,
.contact-container {
  background-color: #f1f3fa;
}

.media-object {
  display: flex;
  align-items: center;
  padding: 4rem 1rem;
}

.icon1 {
  width: 200px;
  height: 180px;
}
.icon2 {
  width: 220px;
  height: 190px;
}
.icon3 {
  width: 180px;
}

.icon-left,
.icon-right {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 18.72px;
}

.blurb-wrapper-right,
.blurb-wrapper-left {
  flex: 1;
}
.icon-left,
.blurb-wrapper-left {
  order: 1;
}
.icon-right,
.blurb-wrapper-right {
  order: 2;
}

.blurb-wrapper {
  flex: 1;
}
.blurb-info {
  color: #646b90;
  font-size: 18px;
}

.quote-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.quote-btn,
.submit-btn {
  color: white;
  background-color: #5019e6;
  font-size: 18px;
  border: none;
  padding: 0.8rem 4rem;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.header {
  text-align: center;
  padding: 6rem 0 4rem;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio-object {
  max-width: 250px;
  margin-bottom: 30px;
}
.portfolio-icon {
  width: 180px;
  height: 150px;
}

.portfolio-box {
  width: 180px;
  height: 150px;
  transition: 0.6s ease-in-out;
}

.portfolio-box:hover {
  cursor: pointer;
  transform: scale(1.03);
}

label {
  font-size: 19px;
}

input {
  margin: 2px 0 8px 0;
  width: 350px;
}
textarea {
  margin: 2px 0 8px 0;
  width: 500px;
}
.submit-btn {
  margin: 10px 0;
}

/* ####################################### MEDIA QUERIES ################################################### */

@media screen and (max-width: 768px) {
  ul.topnav li a.nav-link {
    display: none;
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  ul.topnav.responsive li.dropdownLink {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  ul.topnav.responsive {
    display: flex;
    flex-direction: column;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 10px;
    text-align: right;
  }
  ul.topnav.responsive li a.nav-link {
    display: block;
    line-height: 1.6;
  }
  .navbar {
    margin: 0;
  }
  .media-object {
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
    flex-direction: column;
    text-align: center;
  }
  .blurb-wrapper-right,
  .blurb-wrapper-left {
    flex: 1;
  }
  .icon-left,
  .blurb-wrapper-left {
    order: 1;
  }
  .icon-right,
  .blurb-wrapper-right {
    order: 1;
  }

  .container {
    margin: 0px;
  }
  .icon1,
  .icon2,
  .icon3 {
    width: 150px;
    height: 130px;
  }
  input {
    margin: 2px 0 8px 0;
    width: 150px;
  }
  textarea {
    margin: 2px 0 8px 0;
    width: 300px;
  }
  form {
    margin-left: 20px;
  }
}

@media screen and (max-width: 599px) {
  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
